<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleExceptionOrigin</key>
	<string>asynchronousStateInteraction</string>
	<key>commandMementoCount</key>
	<string>toolOrScope</string>
	<key>curveCompositeStatus</key>
	<string>certificateLikePhase</string>
	<key>lastNormShape</key>
	<string>immediateExceptionSpeed</string>
	<key>momentumTaskTheme</key>
	<string>queueKindMode</string>
</dict>
</plist>
