<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedHandlerTension</key>
	<string>curveBufferTag</string>
	<key>buttonAndPrototype</key>
	<string>independentBehaviorForce</string>
	<key>completerFromFunction</key>
	<string>layoutValueOffset</string>
	<key>largeScreenOpacity</key>
	<string>fixedCapsuleMargin</string>
	<key>queueOutsideType</key>
	<string>handlerBufferSize</string>
	<key>tangentInterpreterDistance</key>
	<string>getxSinceCycle</string>
</dict>
</plist>
