<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardIncludeProxy</key>
	<string>challengeFunctionFrequency</string>
	<key>listviewAmongProxy</key>
	<string>utilAsScope</string>
	<key>liteInkwellDirection</key>
	<string>positionOfForm</string>
	<key>modelSingletonName</key>
	<string>priorityStyleInterval</string>
	<key>normOutsideEnvironment</key>
	<string>scrollableConstraintValidation</string>
	<key>popupModeBound</key>
	<string>tappableConvolutionTheme</string>
	<key>prevBatchLeft</key>
	<string>currentLayerOrientation</string>
	<key>segueBeyondInterpreter</key>
	<string>effectAroundStage</string>
</dict>
</plist>
