<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseFormShape</key>
	<string>sceneShapeInset</string>
	<key>curveDespiteFunction</key>
	<string>checklistLevelMargin</string>
	<key>precisionVersusTier</key>
	<string>globalTextStyle</string>
	<key>protocolTierContrast</key>
	<string>coordinatorVariableDuration</string>
	<key>radioInsideKind</key>
	<string>dialogsVersusAction</string>
	<key>responseAlongOperation</key>
	<string>accessoryMethodShade</string>
	<key>routeExceptWork</key>
	<string>liteCubitVisible</string>
	<key>sophisticatedNodeTop</key>
	<string>alertBeyondVariable</string>
	<key>tickerAgainstSystem</key>
	<string>tweenNearValue</string>
</dict>
</plist>
