<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocMediatorContrast</key>
	<string>liteTitleType</string>
	<key>borderVersusNumber</key>
	<string>chapterAgainstFlyweight</string>
	<key>paddingVarVisible</key>
	<string>richtextContextBottom</string>
	<key>positionTierAlignment</key>
	<string>sceneFunctionHead</string>
	<key>tickerAmongParameter</key>
	<string>providerDuringContext</string>
</dict>
</plist>
