<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorAlongVariable</key>
	<string>immutableGroupRight</string>
	<key>challengeStructureTint</key>
	<string>allocatorEnvironmentDensity</string>
	<key>compositionForContext</key>
	<string>constFutureInset</string>
	<key>denseCapacitiesLeft</key>
	<string>vectorOrTier</string>
	<key>getxPatternShape</key>
	<string>delicateAccessoryIndex</string>
	<key>resourceDespiteForm</key>
	<string>taskTierTint</string>
	<key>touchValueInteraction</key>
	<string>streamScopeOrientation</string>
</dict>
</plist>
