<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorAlongBridge</key>
	<string>ignoredOperationContrast</string>
	<key>positionedScopeTransparency</key>
	<string>sampleBeyondChain</string>
	<key>priorityProxyVisibility</key>
	<string>actionPerSystem</string>
</dict>
</plist>
