<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasAsVisitor</key>
	<string>denseThemeRotation</string>
	<key>decorationContainPhase</key>
	<string>chartFunctionPosition</string>
	<key>futureActionRotation</key>
	<string>memberStageFrequency</string>
	<key>layerExceptPrototype</key>
	<string>sizedboxAtFramework</string>
	<key>popupAroundCycle</key>
	<string>usageThroughInterpreter</string>
	<key>priorityOfPlatform</key>
	<string>skinByContext</string>
	<key>scaffoldPerAdapter</key>
	<string>inactiveContainerPosition</string>
	<key>semanticAssetLeft</key>
	<string>constraintInterpreterPressure</string>
	<key>semanticsPrototypeTint</key>
	<string>petViaEnvironment</string>
</dict>
</plist>
