<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityDecoratorMomentum</key>
	<string>profileOutsideLevel</string>
	<key>cursorFacadeSkewx</key>
	<string>positionedEnvironmentDelay</string>
	<key>denseCubitFlags</key>
	<string>denseDecorationIndex</string>
	<key>layoutAboutType</key>
	<string>bulletLevelVelocity</string>
	<key>multiWidgetStyle</key>
	<string>basicAwaitVelocity</string>
	<key>protocolForFramework</key>
	<string>dependencyUntilJob</string>
	<key>radiusCommandVisibility</key>
	<string>entropyVisitorTag</string>
	<key>storageUntilShape</key>
	<string>notificationOutsideKind</string>
	<key>utilAroundScope</key>
	<string>inheritedAnimationSaturation</string>
</dict>
</plist>
