<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonModeLocation</key>
	<string>persistentSkirtInset</string>
	<key>completerExceptOperation</key>
	<string>riverpodIncludeSystem</string>
	<key>fixedGetxBottom</key>
	<string>graphScopeDepth</string>
	<key>iconNumberValidation</key>
	<string>tweenViaLayer</string>
	<key>unaryAgainstFlyweight</key>
	<string>easyMomentumBorder</string>
</dict>
</plist>
