<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAwayStructure</key>
	<string>prismaticAxisFlags</string>
	<key>cubitAndAction</key>
	<string>reducerScopeRight</string>
	<key>denseCharacterCoord</key>
	<string>matrixUntilTask</string>
	<key>reusableCoordinatorScale</key>
	<string>projectionPrototypeEdge</string>
	<key>routeActivityOrigin</key>
	<string>controllerProxyOrientation</string>
	<key>textOfComposite</key>
	<string>currentInteractorTension</string>
</dict>
</plist>
