<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartIncludeValue</key>
	<string>symmetricUtilOrientation</string>
	<key>mobileRoleOrigin</key>
	<string>concreteStateOrigin</string>
	<key>newestCycleValidation</key>
	<string>oldOperationContrast</string>
	<key>projectionAdapterAlignment</key>
	<string>cardFunctionContrast</string>
	<key>queryVarOrigin</key>
	<string>blocThroughState</string>
	<key>rowModePosition</key>
	<string>overlayTierStyle</string>
	<key>sceneChainMomentum</key>
	<string>previewParameterOrigin</string>
	<key>textOperationShade</key>
	<string>streamFunctionMargin</string>
</dict>
</plist>
