<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocValueInterval</key>
	<string>mutableCurveForce</string>
	<key>builderInLayer</key>
	<string>fragmentTaskInteraction</string>
	<key>displayableCertificateTag</key>
	<string>tableNumberSpacing</string>
	<key>effectAgainstVar</key>
	<string>instructionVariableInterval</string>
</dict>
</plist>
