<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionPrototypeCenter</key>
	<string>storyboardSinceValue</string>
	<key>directlySceneVisible</key>
	<string>arithmeticAmongFacade</string>
	<key>futureThroughFunction</key>
	<string>sliderFunctionAlignment</string>
	<key>loopStageInteraction</key>
	<string>spriteSystemScale</string>
</dict>
</plist>
