<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardTextureTail</key>
	<string>giftFrameworkMomentum</string>
	<key>desktopStreamPadding</key>
	<string>lazyCharacterForce</string>
	<key>errorPerSingleton</key>
	<string>compositionDecoratorRotation</string>
	<key>layerBesideChain</key>
	<string>layoutModeHead</string>
	<key>retainedPaddingHead</key>
	<string>catalystInTemple</string>
	<key>smartCoordinatorVisibility</key>
	<string>checkboxAsCommand</string>
	<key>typicalUtilLeft</key>
	<string>ephemeralSliderMode</string>
</dict>
</plist>
