<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveThroughDecorator</key>
	<string>callbackOrChain</string>
	<key>eventFacadeName</key>
	<string>animatedcontainerStrategyTension</string>
	<key>fixedEqualizationType</key>
	<string>statelessSpineDirection</string>
	<key>interactiveCharacterKind</key>
	<string>buttonSingletonForce</string>
	<key>labelTypeFlags</key>
	<string>transitionWorkRate</string>
	<key>routeMethodSkewy</key>
	<string>accessoryByAction</string>
	<key>streamAboutState</key>
	<string>delegateEnvironmentShade</string>
	<key>viewActivityInset</key>
	<string>logarithmOrStage</string>
</dict>
</plist>
