<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveThanForm</key>
	<string>alertVariableAppearance</string>
	<key>fusedImageVisibility</key>
	<string>immutableFragmentContrast</string>
	<key>gemBesideVisitor</key>
	<string>mobileChainFrequency</string>
	<key>localizationValueHead</key>
	<string>subtleModelLeft</string>
	<key>lossAgainstTemple</key>
	<string>vectorVarOffset</string>
	<key>nodePlatformTint</key>
	<string>delegateStyleVisibility</string>
	<key>prevDescriptionSkewx</key>
	<string>compositionFormResponse</string>
	<key>slashWithoutStructure</key>
	<string>titleByStyle</string>
</dict>
</plist>
