<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionDuringScope</key>
	<string>utilUntilShape</string>
	<key>contractionAndOperation</key>
	<string>alignmentMementoHead</string>
	<key>handlerIncludeInterpreter</key>
	<string>containerExceptValue</string>
	<key>injectionJobDelay</key>
	<string>adaptivePositionedDensity</string>
	<key>layoutContextPressure</key>
	<string>expandedDespiteParameter</string>
	<key>primaryBuilderSpacing</key>
	<string>cellAtValue</string>
	<key>stampThroughStrategy</key>
	<string>globalCompleterColor</string>
</dict>
</plist>
