<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalUnaryOpacity</key>
	<string>spotTempleInterval</string>
	<key>grainInParameter</key>
	<string>delegateNearMediator</string>
	<key>logModeTop</key>
	<string>inactivePromiseSpeed</string>
	<key>resourceChainSpeed</key>
	<string>labelJobAppearance</string>
	<key>usedAnimationTint</key>
	<string>radiusDespiteStage</string>
</dict>
</plist>
