<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>globalChartMode</key>
	<string>managerObserverCoord</string>
	<key>intuitiveHeapTag</key>
	<string>compositionViaTier</string>
	<key>particleAgainstActivity</key>
	<string>binaryPerPrototype</string>
	<key>permanentAsyncVelocity</key>
	<string>alignmentWithoutActivity</string>
	<key>referenceAmongScope</key>
	<string>reducerExceptFramework</string>
	<key>resolverAwayJob</key>
	<string>previewBesideMethod</string>
	<key>rowVariableState</key>
	<string>animationMementoTheme</string>
	<key>shaderIncludeMethod</key>
	<string>handlerPhaseCenter</string>
	<key>symmetricDecorationDuration</key>
	<string>controllerVariableSkewx</string>
</dict>
</plist>
