<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterLikeMemento</key>
	<string>loopModeVisible</string>
	<key>intensityAwayAdapter</key>
	<string>eventModeForce</string>
	<key>interfaceProcessDelay</key>
	<string>widgetLikeVariable</string>
	<key>mapBesideNumber</key>
	<string>mainChapterType</string>
	<key>prismaticOffsetState</key>
	<string>entityVariableRate</string>
	<key>unaryVersusTier</key>
	<string>mapOrShape</string>
	<key>usageChainFeedback</key>
	<string>gemBesideForm</string>
</dict>
</plist>
