<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphicAtSystem</key>
	<string>layerInTier</string>
	<key>greatSizeFeedback</key>
	<string>dialogsAndObserver</string>
	<key>inkwellObserverEdge</key>
	<string>constraintThroughValue</string>
	<key>listenerWithAdapter</key>
	<string>extensionAndTemple</string>
	<key>masterAlongState</key>
	<string>consumerTierHue</string>
	<key>materialIncludeValue</key>
	<string>flexibleIntegerLeft</string>
	<key>nodeFromStyle</key>
	<string>mainTabviewShape</string>
	<key>providerPerEnvironment</key>
	<string>interactiveVectorName</string>
	<key>queueInJob</key>
	<string>pinchableCompletionTail</string>
</dict>
</plist>
