<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitUntilPattern</key>
	<string>expandedBufferOpacity</string>
	<key>invisibleStampTag</key>
	<string>independentTransformerType</string>
	<key>lostCatalystHue</key>
	<string>sharedAperturePosition</string>
	<key>oldTickerType</key>
	<string>grainParameterFrequency</string>
	<key>overlayBesideTemple</key>
	<string>particleDespiteStructure</string>
	<key>responseEnvironmentIndex</key>
	<string>controllerExceptKind</string>
	<key>zoneNearScope</key>
	<string>imperativeRowLeft</string>
</dict>
</plist>
