<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>particleSystemMargin</key>
	<string>sliderPerMode</string>
	<key>permissiveExtensionResponse</key>
	<string>missionActionSpeed</string>
	<key>semanticMatrixTint</key>
	<string>directDelegateInset</string>
	<key>textThanCommand</key>
	<string>callbackFlyweightCount</string>
</dict>
</plist>
