<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveInsideWork</key>
	<string>frameTierKind</string>
	<key>draggableTouchBorder</key>
	<string>usageOrJob</string>
	<key>mediumLabelKind</key>
	<string>subsequentMaterialRight</string>
	<key>paddingChainFormat</key>
	<string>nextDecorationInterval</string>
	<key>positionStyleFeedback</key>
	<string>globalBufferBrightness</string>
	<key>reactiveActivityColor</key>
	<string>symbolFrameworkSpeed</string>
	<key>scrollSystemPadding</key>
	<string>configurationVariableForce</string>
	<key>textAndAction</key>
	<string>animationPerAction</string>
</dict>
</plist>
