<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentBridgeRate</key>
	<string>scrollObserverLocation</string>
	<key>aspectratioIncludeProxy</key>
	<string>borderUntilChain</string>
	<key>chartVariableShade</key>
	<string>adaptiveHistogramTransparency</string>
	<key>composableCurveMomentum</key>
	<string>consultativeLogarithmOrigin</string>
	<key>factoryMethodCoord</key>
	<string>denseMemberForce</string>
	<key>memberVisitorMode</key>
	<string>constImageColor</string>
	<key>observerEnvironmentKind</key>
	<string>responsivePlateCenter</string>
	<key>rowDuringJob</key>
	<string>clipperLayerStyle</string>
</dict>
</plist>
