<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionAspectratioSkewx</key>
	<string>dimensionAgainstComposite</string>
	<key>builderWithJob</key>
	<string>baselineThanShape</string>
	<key>explicitDelegateIndex</key>
	<string>textureWorkSkewx</string>
	<key>giftSinceMediator</key>
	<string>entityAlongLevel</string>
	<key>operationMethodDuration</key>
	<string>usageAsScope</string>
	<key>responseMementoLocation</key>
	<string>mediaBeyondObserver</string>
	<key>semanticCoordinatorPressure</key>
	<string>dimensionAboutVar</string>
	<key>subsequentObserverRight</key>
	<string>largeImageDirection</string>
	<key>tangentModeState</key>
	<string>movementVersusFacade</string>
	<key>vectorModeDensity</key>
	<string>actionDespiteTask</string>
</dict>
</plist>
