<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocObserverIndex</key>
	<string>descriptionAmongInterpreter</string>
	<key>curveAwayObserver</key>
	<string>fixedGrainResponse</string>
	<key>matrixPrototypeForce</key>
	<string>controllerAgainstFlyweight</string>
	<key>positionFacadeRate</key>
	<string>constDialogsBound</string>
	<key>rowPrototypeTension</key>
	<string>vectorAtNumber</string>
	<key>staticCubitInterval</key>
	<string>stateScopeRotation</string>
	<key>synchronousAspectratioAppearance</key>
	<string>clipperKindCenter</string>
	<key>temporaryAnimationFlags</key>
	<string>widgetDuringBuffer</string>
	<key>timerLayerDirection</key>
	<string>subsequentGridviewCount</string>
</dict>
</plist>
