<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchWithTemple</key>
	<string>gradientFrameworkDelay</string>
	<key>cardAdapterFlags</key>
	<string>masterTempleVisible</string>
	<key>crudeStorageRate</key>
	<string>consumerFunctionOpacity</string>
	<key>cubeAndCommand</key>
	<string>groupIncludeMediator</string>
	<key>declarativeChapterPressure</key>
	<string>consultativeNavigatorHue</string>
	<key>hardSubscriptionHue</key>
	<string>anchorTempleVisible</string>
	<key>routeWithTemple</key>
	<string>concurrentEffectTail</string>
	<key>sequentialGridFormat</key>
	<string>entityBeyondForm</string>
	<key>storageFunctionDuration</key>
	<string>iconAroundCycle</string>
</dict>
</plist>
