<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyByTier</key>
	<string>arithmeticLikePlatform</string>
	<key>disparateDocumentMode</key>
	<string>ephemeralCommandKind</string>
	<key>listviewTaskBottom</key>
	<string>statefulGridAlignment</string>
	<key>responseAdapterIndex</key>
	<string>sceneSingletonBound</string>
	<key>responsiveExponentHead</key>
	<string>observerAboutKind</string>
	<key>sizeWithJob</key>
	<string>completionActivityDensity</string>
</dict>
</plist>
