<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaActivityContrast</key>
	<string>textureInsideKind</string>
	<key>respectiveHashPadding</key>
	<string>tensorCommandLocation</string>
	<key>sliderSinceVisitor</key>
	<string>spineLayerShape</string>
	<key>taskSinceEnvironment</key>
	<string>vectorContainVar</string>
	<key>unaryFormRotation</key>
	<string>localizationExceptShape</string>
</dict>
</plist>
