<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorOutsideStyle</key>
	<string>subsequentSessionAcceleration</string>
	<key>constraintBufferTag</key>
	<string>storageParameterTransparency</string>
	<key>entropyVariableStyle</key>
	<string>listenerThroughAdapter</string>
	<key>graphBufferTint</key>
	<string>gesturedetectorAndTask</string>
	<key>hardChannelShade</key>
	<string>previewInterpreterColor</string>
	<key>retainedRadiusHead</key>
	<string>usedLayerOffset</string>
	<key>semanticCanvasSpacing</key>
	<string>curveObserverLocation</string>
	<key>sizeByFacade</key>
	<string>configurationInsideVar</string>
</dict>
</plist>
