<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyByParam</key>
	<string>viewByFunction</string>
	<key>errorFlyweightTransparency</key>
	<string>declarativeSliderMargin</string>
	<key>routerStrategyCoord</key>
	<string>bitrateSystemBehavior</string>
</dict>
</plist>
