<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultListenerOpacity</key>
	<string>cubitOutsideState</string>
	<key>draggableHeroTail</key>
	<string>criticalSensorPadding</string>
	<key>geometricHandlerEdge</key>
	<string>layerExceptTask</string>
	<key>intermediateResourceCoord</key>
	<string>tickerVarSpacing</string>
	<key>missedLabelSpacing</key>
	<string>globalRepositoryLeft</string>
	<key>serviceVariableOrigin</key>
	<string>cubitAgainstPrototype</string>
	<key>sizeAndStrategy</key>
	<string>firstInkwellDuration</string>
	<key>taskStageSpacing</key>
	<string>channelFunctionCount</string>
	<key>widgetShapeTint</key>
	<string>semanticMemberDelay</string>
</dict>
</plist>
