<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncStorageDirection</key>
	<string>animationStyleTag</string>
	<key>borderBufferAppearance</key>
	<string>iterativeReferenceScale</string>
	<key>intuitiveSubscriptionOrigin</key>
	<string>listenerAroundPrototype</string>
	<key>layoutTypeTransparency</key>
	<string>substantialServiceAlignment</string>
	<key>menuForProxy</key>
	<string>smartTickerFrequency</string>
	<key>newestBufferRight</key>
	<string>multiplicationProcessCenter</string>
	<key>queueOfJob</key>
	<string>instructionMethodTail</string>
	<key>utilAsBridge</key>
	<string>singleCharacterStatus</string>
</dict>
</plist>
