<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationScopeVelocity</key>
	<string>isolateAndActivity</string>
	<key>constraintFacadeCoord</key>
	<string>decorationByJob</string>
	<key>displayableBoxshadowDirection</key>
	<string>temporaryGestureSpacing</string>
	<key>eagerMatrixBrightness</key>
	<string>mobileTypeOrientation</string>
	<key>mobileMediatorColor</key>
	<string>rectInsideStyle</string>
	<key>sinkLikeParameter</key>
	<string>immediateCubitFeedback</string>
	<key>skirtFunctionOpacity</key>
	<string>compositionalReductionCount</string>
	<key>staticMultiplicationInteraction</key>
	<string>gramStructureTint</string>
</dict>
</plist>
