<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorVersusScope</key>
	<string>masterAroundBuffer</string>
	<key>backwardRectBound</key>
	<string>criticalPlateOrientation</string>
	<key>modulusOrJob</key>
	<string>imageMethodRight</string>
	<key>pointOfInterpreter</key>
	<string>largeModulusCoord</string>
	<key>sampleActivityRight</key>
	<string>eventPrototypeIndex</string>
	<key>sampleScopeTag</key>
	<string>sortedTransitionResponse</string>
	<key>spineLikePattern</key>
	<string>signatureAmongMemento</string>
</dict>
</plist>
