<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateAroundTask</key>
	<string>alignmentShapeVisible</string>
	<key>intensityShapeShape</key>
	<string>semanticViewEdge</string>
	<key>primaryPositionTag</key>
	<string>builderFromTask</string>
	<key>webTextDuration</key>
	<string>transitionFromBridge</string>
</dict>
</plist>
