<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardWithForm</key>
	<string>builderByTier</string>
	<key>explicitStatelessInterval</key>
	<string>gridPlatformSkewy</string>
	<key>layerAroundAdapter</key>
	<string>storePatternRight</string>
	<key>missionAlongInterpreter</key>
	<string>aperturePhaseVelocity</string>
	<key>presenterLikeMethod</key>
	<string>chartChainType</string>
	<key>resizableExponentRate</key>
	<string>operationPerObserver</string>
	<key>retainedRouterLeft</key>
	<string>agileConvolutionPadding</string>
	<key>significantGiftRate</key>
	<string>geometricHeapDuration</string>
	<key>subsequentMenuDistance</key>
	<string>capsuleNearShape</string>
</dict>
</plist>
