<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeScrollRotation</key>
	<string>easyLayerMargin</string>
	<key>assetParamInset</key>
	<string>specifierThroughDecorator</string>
	<key>commonSymbolBrightness</key>
	<string>singleAlphaIndex</string>
	<key>controllerWorkFormat</key>
	<string>loopThroughStyle</string>
	<key>mediaStrategyTint</key>
	<string>futureThroughCycle</string>
	<key>routeAsVisitor</key>
	<string>webSpotTail</string>
	<key>smallViewContrast</key>
	<string>iconOutsideFlyweight</string>
	<key>statelessTierFormat</key>
	<string>backwardGemCenter</string>
	<key>uniqueDependencyCenter</key>
	<string>denseTangentAlignment</string>
	<key>viewAtPattern</key>
	<string>baselineSystemOrientation</string>
</dict>
</plist>
