<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticBaselineStyle</key>
	<string>layerScopeInset</string>
	<key>compositionalBrushHead</key>
	<string>difficultPopupTail</string>
	<key>crucialStoryboardAlignment</key>
	<string>effectFacadeRate</string>
	<key>effectAboutStage</key>
	<string>ephemeralProjectBound</string>
	<key>enabledPageviewContrast</key>
	<string>navigatorFromStrategy</string>
	<key>graphCommandBottom</key>
	<string>sequentialGraphicInteraction</string>
	<key>listviewAtLayer</key>
	<string>ternaryActivityShape</string>
	<key>methodBridgeDepth</key>
	<string>isolateTypeRight</string>
</dict>
</plist>
