<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxBesideBuffer</key>
	<string>unactivatedActivityKind</string>
	<key>delegateLikeOperation</key>
	<string>cubitFunctionContrast</string>
	<key>hardExceptionState</key>
	<string>multiProfileStatus</string>
</dict>
</plist>
