<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticGestureAppearance</key>
	<string>widgetDecoratorAlignment</string>
	<key>elasticNotifierVisibility</key>
	<string>managerMediatorDensity</string>
	<key>hyperbolicProviderType</key>
	<string>synchronousLogarithmSkewy</string>
	<key>observerStyleBottom</key>
	<string>greatFrameContrast</string>
	<key>progressbarAboutPlatform</key>
	<string>delegateJobBorder</string>
	<key>progressbarAsNumber</key>
	<string>momentumWorkBottom</string>
	<key>routerTierTop</key>
	<string>uniformMatrixBottom</string>
	<key>similarShaderStyle</key>
	<string>routeProxyHead</string>
</dict>
</plist>
