<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonTaskName</key>
	<string>repositoryNearKind</string>
	<key>durationForType</key>
	<string>priorAsyncInteraction</string>
	<key>interactiveHandlerMode</key>
	<string>channelVisitorDelay</string>
	<key>modalInBridge</key>
	<string>spineAlongNumber</string>
	<key>offsetBesideBuffer</key>
	<string>listviewModeOpacity</string>
	<key>reactiveTextInterval</key>
	<string>beginnerSignSkewx</string>
	<key>storageOutsideVisitor</key>
	<string>keyColumnIndex</string>
	<key>storeJobScale</key>
	<string>zoneForComposite</string>
</dict>
</plist>
