<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalProviderOffset</key>
	<string>sinkExceptFlyweight</string>
	<key>custompaintVarValidation</key>
	<string>titleShapeCount</string>
	<key>difficultSubscriptionCoord</key>
	<string>frameWithoutStructure</string>
	<key>loopVarDuration</key>
	<string>extensionWithValue</string>
	<key>navigationModeDelay</key>
	<string>backwardExceptionDirection</string>
	<key>responseMediatorShape</key>
	<string>blocDespiteScope</string>
</dict>
</plist>
