<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeSliderContrast</key>
	<string>interactivePopupVelocity</string>
	<key>appbarAwayPrototype</key>
	<string>parallelMultiplicationTransparency</string>
	<key>cardInterpreterHead</key>
	<string>taskStrategyScale</string>
	<key>elasticSpotDistance</key>
	<string>interactiveGrainMode</string>
	<key>segmentProcessFlags</key>
	<string>painterLevelCenter</string>
</dict>
</plist>
