<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderVariableCount</key>
	<string>priorBoxHead</string>
	<key>entropyOutsideContext</key>
	<string>resourceVisitorBottom</string>
	<key>gesturedetectorAtVar</key>
	<string>utilLikeCommand</string>
	<key>sineLevelPressure</key>
	<string>graphStructureOffset</string>
	<key>visibleInteractorDuration</key>
	<string>inkwellTempleTransparency</string>
</dict>
</plist>
