<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsValueHead</key>
	<string>standaloneLabelPadding</string>
	<key>descriptionTypeAcceleration</key>
	<string>repositoryVisitorHead</string>
	<key>semanticsStyleAlignment</key>
	<string>spriteStateFrequency</string>
	<key>subscriptionSinceWork</key>
	<string>ignoredRadiusPressure</string>
</dict>
</plist>
