<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnTaskInset</key>
	<string>cupertinoThanInterpreter</string>
	<key>constraintPrototypeFeedback</key>
	<string>pinchableIntensityBrightness</string>
	<key>layoutThanPattern</key>
	<string>certificateVersusMediator</string>
	<key>projectionStageLocation</key>
	<string>gradientWithKind</string>
	<key>resolverProcessKind</key>
	<string>customizedNavigationSpacing</string>
	<key>timerInterpreterSpeed</key>
	<string>paddingJobName</string>
</dict>
</plist>
