<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetNumberState</key>
	<string>permanentSymbolBottom</string>
	<key>cubitAndAction</key>
	<string>widgetExceptActivity</string>
	<key>currentStorePosition</key>
	<string>utilAmongPrototype</string>
	<key>curveUntilFacade</key>
	<string>responsiveReducerTheme</string>
	<key>featureOutsideKind</key>
	<string>nibBufferDistance</string>
	<key>stackKindCoord</key>
	<string>interfaceContainPrototype</string>
	<key>techniqueKindTransparency</key>
	<string>projectionVariableResponse</string>
	<key>topicModeRate</key>
	<string>curveAndJob</string>
	<key>typicalRectResponse</key>
	<string>consumerAmongChain</string>
	<key>utilProcessPadding</key>
	<string>stackBesideKind</string>
</dict>
</plist>
