<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertOutsideType</key>
	<string>missedCurveTint</string>
	<key>imageWithoutShape</key>
	<string>rowMethodDuration</string>
	<key>lossSinceJob</key>
	<string>immediateSkinDirection</string>
	<key>providerPrototypeOrientation</key>
	<string>hyperbolicLayerScale</string>
	<key>spriteStructureOpacity</key>
	<string>radiusTypeTop</string>
	<key>stateOutsideVar</key>
	<string>resultAlongSystem</string>
</dict>
</plist>
