<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowEnvironmentInset</key>
	<string>eagerSlashAcceleration</string>
	<key>boxshadowThroughShape</key>
	<string>similarTextTail</string>
	<key>directAlignmentSkewx</key>
	<string>channelMethodFlags</string>
	<key>permanentTransformerBorder</key>
	<string>controllerWorkStyle</string>
</dict>
</plist>
