<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitBridgeSpeed</key>
	<string>riverpodAboutSingleton</string>
	<key>futureNearProxy</key>
	<string>activeVariantVelocity</string>
	<key>nodeStyleFormat</key>
	<string>errorValueAlignment</string>
	<key>permissiveDelegateContrast</key>
	<string>queuePhaseContrast</string>
</dict>
</plist>
