<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelAndParameter</key>
	<string>dimensionAroundFunction</string>
	<key>nativeSingletonTint</key>
	<string>asynchronousFactoryMomentum</string>
	<key>providerOfParameter</key>
	<string>exceptionLevelContrast</string>
	<key>textfieldAmongType</key>
	<string>comprehensiveRadiusStyle</string>
	<key>viewAboutWork</key>
	<string>cycleVariableEdge</string>
</dict>
</plist>
