<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ignoredScaffoldDelay</key>
	<string>threadVersusPrototype</string>
	<key>prevHeapSpacing</key>
	<string>resourceForPrototype</string>
	<key>repositoryLikeTemple</key>
	<string>aspectratioLikeStyle</string>
	<key>riverpodStrategyHue</key>
	<string>toolAboutTask</string>
	<key>scrollableExceptionBottom</key>
	<string>sinkOutsideMediator</string>
	<key>seamlessSubscriptionSize</key>
	<string>alignmentAndTask</string>
	<key>semanticSpotPosition</key>
	<string>specifierAboutInterpreter</string>
	<key>ternaryPerParam</key>
	<string>typicalPopupRight</string>
</dict>
</plist>
