<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationParameterIndex</key>
	<string>routerThroughStrategy</string>
	<key>convolutionAwayVariable</key>
	<string>constraintAmongFlyweight</string>
	<key>descriptorActionVelocity</key>
	<string>advancedQueueLeft</string>
	<key>newestInterpolationAcceleration</key>
	<string>workflowAtProxy</string>
	<key>plateOperationTail</key>
	<string>custompaintStrategyIndex</string>
	<key>secondMissionCount</key>
	<string>actionCompositeStatus</string>
	<key>threadOperationName</key>
	<string>symbolNumberDirection</string>
	<key>vectorCompositeContrast</key>
	<string>navigatorFromTemple</string>
</dict>
</plist>
