<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerInsideValue</key>
	<string>criticalProgressbarDirection</string>
	<key>durationIncludeEnvironment</key>
	<string>futureOfAction</string>
	<key>fragmentPatternMode</key>
	<string>animationAndJob</string>
	<key>futureSinceTemple</key>
	<string>boxDecoratorSize</string>
	<key>layerOutsideProxy</key>
	<string>activityFromEnvironment</string>
	<key>lossAmongChain</key>
	<string>gridWithoutStructure</string>
	<key>resourceWithScope</key>
	<string>cupertinoAdapterMargin</string>
</dict>
</plist>
