<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2.5.2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
				<key>dateExpires</key>
				<string>2026/6/12</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AliyunOSSiOS.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>2.10.22</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BDASignalSDK.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>3.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DZNEmptyDataSet.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.8.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FGIAPService.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FURenderKit.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>8.11.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FreeStreamer.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GKLivePhotoManager.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GKSliderView.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JXCategoryView.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.6.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JXPagingView.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>3.4.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>3.7.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NEChatKit.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.7.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NEChatUIKit.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NECommonKit.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NECommonUIKit.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.7.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NEConversationUIKit.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NECoreIMKit.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NECoreKit.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.5.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NERtcCallKit.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>5.8.10</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NERtcSDK.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>5.8.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NIMNOS.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NIMQuic.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.19.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NIMSDK.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.20.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NIMSocketRocket.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.19.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>3.29.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>3.7.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactiveObjC.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDCycleScrollView.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.82.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>5.21.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImageSVGKitPlugin.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImageWebPCoder.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.14.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SSZipArchive.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVGAPlayer.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVGKit.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SocketRocket.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.7.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TXFFmpeg.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TXSoundTouch.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>83.0.4100.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Tquic.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>83.4100.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YXAlog_iOS.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YXArtemis.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYKit.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>audioplayers_darwin.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>in_app_purchase_storekit.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA56E5B76228A5DEDD7A6465F3997815843AABC6</string>
						<key>dateExpires</key>
						<string>2026/6/12</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>sign_in_with_apple.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79L3K25T7P</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>79L3K25T7P.com.aoyou.xinbo</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:preapi.xlxban.cn</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>79L3K25T7P</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>91203bd5-e28e-4d6c-8910-623d04299e02</string>
				<key>dateExpires</key>
				<string>2026/6/12</string>
				<key>name</key>
				<string>79L3K25T7P.com.aoyou.xinbo</string>
			</dict>
			<key>symbols</key>
			<false/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>79L3K25T7P</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>2.5.2</string>
		</dict>
	</array>
</dict>
</plist>
