<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianSessionHue</key>
	<string>ignoredNotifierDelay</string>
	<key>progressbarAwayProcess</key>
	<string>numericalWidgetMomentum</string>
	<key>visibleColumnLocation</key>
	<string>expandedModeMode</string>
</dict>
</plist>
