<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritedRouterInset</key>
	<string>subsequentBuilderDirection</string>
	<key>reactiveAssetSpeed</key>
	<string>indicatorFunctionMargin</string>
	<key>stampSinceCycle</key>
	<string>ignoredGetxSaturation</string>
</dict>
</plist>
