<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveCompletionRight</key>
	<string>sinkUntilTask</string>
	<key>autoLayoutPosition</key>
	<string>radioStrategyPosition</string>
	<key>curveKindStatus</key>
	<string>capacitiesSystemBehavior</string>
	<key>dependencyBufferName</key>
	<string>globalTaskShape</string>
	<key>graphicTierType</key>
	<string>subscriptionBeyondMediator</string>
	<key>numericalOffsetRotation</key>
	<string>decorationAroundStrategy</string>
	<key>persistentCommandAcceleration</key>
	<string>robustPaddingKind</string>
	<key>swiftSingletonLeft</key>
	<string>persistentEffectCoord</string>
</dict>
</plist>
