<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedCompleterDistance</key>
	<string>sinkAgainstFlyweight</string>
	<key>canvasFlyweightAlignment</key>
	<string>iterativeSinkScale</string>
	<key>iconSystemStatus</key>
	<string>pageviewAwayVariable</string>
	<key>layerPatternPressure</key>
	<string>sharedSizeForce</string>
	<key>prismaticReducerAcceleration</key>
	<string>previewCompositeBrightness</string>
	<key>transitionParamCoord</key>
	<string>functionalSessionScale</string>
</dict>
</plist>
