<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureUntilChain</key>
	<string>extensionAwayInterpreter</string>
	<key>cubeVariableBrightness</key>
	<string>cacheSingletonInset</string>
	<key>drawerByVisitor</key>
	<string>kernelModeBorder</string>
	<key>immediateButtonSkewy</key>
	<string>invisibleLabelBrightness</string>
	<key>indicatorAdapterShade</key>
	<string>commonStreamIndex</string>
	<key>managerNumberAppearance</key>
	<string>animatedTweenVisibility</string>
	<key>optimizerUntilTemple</key>
	<string>resilientProtocolMargin</string>
	<key>projectionExceptPlatform</key>
	<string>tickerAndMemento</string>
	<key>richtextEnvironmentDelay</key>
	<string>displayableMusicFlags</string>
	<key>uniqueSliderType</key>
	<string>mediaqueryAgainstPhase</string>
</dict>
</plist>
