<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveWithFacade</key>
	<string>errorActivityOpacity</string>
	<key>disparateMethodKind</key>
	<string>disparateMissionLocation</string>
	<key>flexibleSignTop</key>
	<string>mutableStateAlignment</string>
	<key>groupAroundInterpreter</key>
	<string>baseLayerFeedback</string>
	<key>imperativeServiceRight</key>
	<string>collectionProxyKind</string>
	<key>requestActivityVisibility</key>
	<string>getxOutsideFlyweight</string>
	<key>themeTypeOffset</key>
	<string>challengeTypeDirection</string>
	<key>threadSystemTint</key>
	<string>listviewTierBottom</string>
</dict>
</plist>
