<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fusedVariantSize</key>
	<string>brushContainFunction</string>
	<key>integerMediatorInterval</key>
	<string>positionPhaseSkewy</string>
	<key>interpolationThroughEnvironment</key>
	<string>buttonOperationTag</string>
	<key>oldNotificationDuration</key>
	<string>featurePatternCenter</string>
	<key>popupShapeShape</key>
	<string>nativeEffectStyle</string>
	<key>reducerAboutStage</key>
	<string>mutableRadiusType</string>
	<key>sharedParticleDepth</key>
	<string>completerAdapterContrast</string>
	<key>streamActivityFrequency</key>
	<string>profileUntilPlatform</string>
	<key>tableDuringVar</key>
	<string>progressbarInsideNumber</string>
</dict>
</plist>
