<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionPerStructure</key>
	<string>capsuleByContext</string>
	<key>canvasMementoTag</key>
	<string>indicatorDecoratorDirection</string>
	<key>fragmentThanLevel</key>
	<string>handlerStyleTension</string>
	<key>singletonWorkCenter</key>
	<string>euclideanSceneOrientation</string>
	<key>topicAwayNumber</key>
	<string>taskCommandTop</string>
	<key>variantVarFrequency</key>
	<string>menuObserverRotation</string>
</dict>
</plist>
