<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartActivityShade</key>
	<string>grayscaleWorkDepth</string>
	<key>clipperStyleBound</key>
	<string>logAroundBridge</string>
	<key>directWorkflowHue</key>
	<string>pageviewParameterVisible</string>
	<key>gestureScopeOrigin</key>
	<string>buttonBesideValue</string>
	<key>immediateResourceShade</key>
	<string>unaryFrameworkBrightness</string>
	<key>staticPaddingShade</key>
	<string>hyperbolicBinarySpeed</string>
	<key>textFrameworkInterval</key>
	<string>variantModeSaturation</string>
</dict>
</plist>
