<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationFromPhase</key>
	<string>stampContextSkewx</string>
	<key>currentHeapTransparency</key>
	<string>interpolationShapeContrast</string>
	<key>imperativeCanvasDelay</key>
	<string>firstDependencyInterval</string>
	<key>isolateSinceBuffer</key>
	<string>iconNearComposite</string>
	<key>metadataTypeTransparency</key>
	<string>custompaintMethodVelocity</string>
</dict>
</plist>
