<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableRepositoryTail</key>
	<string>menuLikeType</string>
	<key>resultMethodSkewy</key>
	<string>deferredPresenterStyle</string>
	<key>themeAdapterCenter</key>
	<string>declarativeResourceTail</string>
</dict>
</plist>
