<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileReferenceTag</key>
	<string>skinModeFlags</string>
	<key>autoTextureInterval</key>
	<string>stampPlatformValidation</string>
	<key>eagerExponentVisible</key>
	<string>inactiveEventFlags</string>
	<key>entityCompositeVisible</key>
	<string>transformerProcessStyle</string>
	<key>graphStageTheme</key>
	<string>titleAndState</string>
	<key>labelInsideChain</key>
	<string>hashAlongType</string>
	<key>mediaqueryStageKind</key>
	<string>sliderForVisitor</string>
	<key>mobileAnimationTint</key>
	<string>denseMaterialForce</string>
	<key>tangentOfDecorator</key>
	<string>methodPrototypeSaturation</string>
	<key>vectorSinceCycle</key>
	<string>curvePatternOffset</string>
</dict>
</plist>
