<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gesturedetectorLikeLayer</key>
	<string>modulusPlatformInterval</string>
	<key>mobileDescriptionOpacity</key>
	<string>positionedValueColor</string>
	<key>protectedPopupTheme</key>
	<string>gridviewUntilComposite</string>
	<key>resourceOfMemento</key>
	<string>descriptionInCycle</string>
	<key>utilBeyondBuffer</key>
	<string>shaderThanMemento</string>
</dict>
</plist>
