<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferAboutType</key>
	<string>retainedIsolateScale</string>
	<key>challengeDuringKind</key>
	<string>globalProjectRotation</string>
	<key>crucialNavigatorTint</key>
	<string>resourceForAdapter</string>
	<key>disabledWidgetScale</key>
	<string>declarativeApertureTransparency</string>
	<key>largeNibTransparency</key>
	<string>menuTierOpacity</string>
	<key>stackStrategyVisibility</key>
	<string>scaleAdapterDepth</string>
	<key>subscriptionAwayShape</key>
	<string>missedCatalystDepth</string>
	<key>subsequentMethodFormat</key>
	<string>frameAndPrototype</string>
	<key>vectorMediatorDuration</key>
	<string>textVisitorAlignment</string>
</dict>
</plist>
