<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedPetDuration</key>
	<string>nativePainterTag</string>
	<key>challengeOperationFrequency</key>
	<string>grainLayerSpeed</string>
	<key>chartAwayContext</key>
	<string>oldAnimatedcontainerRotation</string>
	<key>fixedGemTag</key>
	<string>commandViaTemple</string>
	<key>liteCurveSpacing</key>
	<string>fixedOperationDistance</string>
	<key>smallModulusTag</key>
	<string>cubitViaStyle</string>
	<key>storeThroughStyle</key>
	<string>cartesianExponentOrientation</string>
</dict>
</plist>
