<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandOutsideAdapter</key>
	<string>listviewStageMomentum</string>
	<key>descriptionForSystem</key>
	<string>tickerParamMomentum</string>
	<key>interfaceKindPadding</key>
	<string>ephemeralSkinBorder</string>
	<key>subpixelAgainstParam</key>
	<string>nativeListviewTension</string>
</dict>
</plist>
