<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaTempleShape</key>
	<string>immutableGetxTension</string>
	<key>buttonTaskMomentum</key>
	<string>granularSingletonOpacity</string>
	<key>drawerParamDuration</key>
	<string>commandLikePattern</string>
	<key>iterativeEffectKind</key>
	<string>cubitMediatorForce</string>
	<key>normalDecorationFlags</key>
	<string>otherPainterCenter</string>
	<key>projectStructureAppearance</key>
	<string>delicateEventKind</string>
	<key>queryPerMethod</key>
	<string>intuitiveSpineHue</string>
</dict>
</plist>
