<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedModelSize</key>
	<string>autoFactoryMargin</string>
	<key>chartAgainstMemento</key>
	<string>workflowPhaseBorder</string>
	<key>composableStateInset</key>
	<string>comprehensiveNormTheme</string>
	<key>delegateNearParam</key>
	<string>requestAroundMode</string>
	<key>modelPlatformDensity</key>
	<string>notifierExceptFramework</string>
	<key>offsetMethodDirection</key>
	<string>prismaticTopicMomentum</string>
	<key>positionedAmongPlatform</key>
	<string>normalLoopTransparency</string>
	<key>secondChapterTheme</key>
	<string>consultativeInstructionFlags</string>
</dict>
</plist>
