<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableMethodTop</key>
	<string>asyncSlashForce</string>
	<key>missedPromiseDirection</key>
	<string>finalResultFlags</string>
	<key>navigatorAtOperation</key>
	<string>immediateThreadOrientation</string>
	<key>observerSinceAdapter</key>
	<string>graphicFromType</string>
</dict>
</plist>
