<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedImageType</key>
	<string>iconWorkCenter</string>
	<key>hardTickerScale</key>
	<string>interactiveStatelessDirection</string>
	<key>offsetTempleBottom</key>
	<string>statefulThanValue</string>
	<key>progressbarInterpreterDepth</key>
	<string>notifierParameterBound</string>
	<key>ternaryValueDistance</key>
	<string>originalSubscriptionVisibility</string>
</dict>
</plist>
