<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>layoutAboutValue</key>
	<string>monsterEnvironmentSize</string>
	<key>mapBesideChain</key>
	<string>prismaticStreamDistance</string>
	<key>sensorExceptPhase</key>
	<string>musicAwayProcess</string>
	<key>titleStyleOpacity</key>
	<string>tablePlatformBrightness</string>
</dict>
</plist>
