<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleStoryboardFlags</key>
	<string>alignmentActionFormat</string>
	<key>currentDurationCenter</key>
	<string>heroVersusContext</string>
	<key>permissiveGateInteraction</key>
	<string>monsterExceptJob</string>
	<key>persistentSwitchRotation</key>
	<string>sceneOperationBorder</string>
	<key>requiredGramVelocity</key>
	<string>commandFacadeEdge</string>
	<key>sliderTaskValidation</key>
	<string>enabledNotificationSpacing</string>
	<key>specifyGrainBottom</key>
	<string>constOptimizerShade</string>
	<key>stackNumberDistance</key>
	<string>observerShapeSaturation</string>
	<key>threadStageInset</key>
	<string>desktopStorageSkewy</string>
	<key>transitionCommandPadding</key>
	<string>nextIsolateType</string>
</dict>
</plist>
