<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gateThroughObserver</key>
	<string>imageLayerColor</string>
	<key>granularEquipmentOffset</key>
	<string>discardedMenuMode</string>
	<key>listviewFunctionHead</key>
	<string>popupLikePhase</string>
	<key>popupWorkForce</key>
	<string>listenerVersusForm</string>
	<key>promiseFormSpacing</key>
	<string>resilientMovementFeedback</string>
	<key>singletonVisitorMargin</key>
	<string>themeBridgePosition</string>
</dict>
</plist>
