<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryDespitePattern</key>
	<string>navigatorOutsideType</string>
	<key>compositionalAnimationShape</key>
	<string>normWithTask</string>
	<key>exceptionFormFormat</key>
	<string>gateParameterRight</string>
	<key>gateWithoutDecorator</key>
	<string>fragmentUntilLayer</string>
	<key>indicatorMediatorPressure</key>
	<string>workflowContextDelay</string>
	<key>mediumAlignmentFeedback</key>
	<string>graphicFacadeDistance</string>
	<key>transformerSystemVisible</key>
	<string>textureOrCommand</string>
</dict>
</plist>
