<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandLikeVariable</key>
	<string>masterFromFacade</string>
	<key>comprehensiveManagerShape</key>
	<string>viewActionLocation</string>
	<key>groupShapeRotation</key>
	<string>awaitTierTag</string>
	<key>mobileResolverLeft</key>
	<string>grainOperationName</string>
	<key>playbackObserverAcceleration</key>
	<string>dedicatedCurveOpacity</string>
</dict>
</plist>
