<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionPatternTag</key>
	<string>nativeZoneIndex</string>
	<key>appbarPatternFrequency</key>
	<string>positionLayerDelay</string>
	<key>tabbarAroundStyle</key>
	<string>denseChannelInteraction</string>
	<key>tensorChallengeSize</key>
	<string>stackChainPosition</string>
	<key>topicOrChain</key>
	<string>cubitVersusLayer</string>
	<key>variantVariableMode</key>
	<string>techniqueAndStage</string>
</dict>
</plist>
