<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeZonePressure</key>
	<string>priorityVarContrast</string>
	<key>curveOfPattern</key>
	<string>cubitInPattern</string>
	<key>injectionLevelHead</key>
	<string>specifierShapeShade</string>
	<key>intensityAmongSingleton</key>
	<string>gemTypeSpacing</string>
	<key>interpolationOfFunction</key>
	<string>arithmeticTransitionTension</string>
	<key>observerShapeTail</key>
	<string>actionLevelState</string>
	<key>stateCyclePressure</key>
	<string>listviewMementoCount</string>
</dict>
</plist>
