<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerMediatorScale</key>
	<string>uniformGraphCount</string>
	<key>listviewOfType</key>
	<string>layerByTemple</string>
	<key>prismaticCupertinoPressure</key>
	<string>heapDuringBuffer</string>
	<key>standaloneMomentumShade</key>
	<string>optionChainEdge</string>
	<key>storageAgainstVisitor</key>
	<string>scrollableDecorationDirection</string>
	<key>visibleSpotCount</key>
	<string>immutableFactoryTransparency</string>
</dict>
</plist>
