<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionAtValue</key>
	<string>skinNearStyle</string>
	<key>musicExceptObserver</key>
	<string>topicScopeMode</string>
	<key>painterCommandOpacity</key>
	<string>routerWithCommand</string>
	<key>relationalInjectionSize</key>
	<string>injectionVersusNumber</string>
	<key>resourcePhaseInterval</key>
	<string>zoneFlyweightPadding</string>
	<key>sliderBeyondWork</key>
	<string>animatedGateTheme</string>
</dict>
</plist>
