<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoCardForce</key>
	<string>curveInSystem</string>
	<key>behaviorVariableTheme</key>
	<string>semanticTangentTint</string>
	<key>delicateCompleterMargin</key>
	<string>eagerTernaryHue</string>
	<key>draggableMediaSpacing</key>
	<string>featureVersusDecorator</string>
	<key>functionalDecorationContrast</key>
	<string>delicateUtilOrigin</string>
	<key>imperativeRemainderPressure</key>
	<string>consultativeGridviewAppearance</string>
	<key>localizationDecoratorHead</key>
	<string>lastCompositionLocation</string>
	<key>loopAroundStage</key>
	<string>crudeSizeOpacity</string>
	<key>reusableEffectCoord</key>
	<string>baselinePhaseFormat</string>
	<key>sessionOperationOrigin</key>
	<string>cycleFlyweightDepth</string>
</dict>
</plist>
