<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardMethodSpacing</key>
	<string>activeCursorForce</string>
	<key>comprehensiveLogSkewy</key>
	<string>uniqueHashVelocity</string>
	<key>declarativeNormIndex</key>
	<string>viewThroughProxy</string>
	<key>isolateObserverDensity</key>
	<string>loopSinceType</string>
	<key>tickerWithoutStructure</key>
	<string>effectOutsideValue</string>
</dict>
</plist>
