<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxFrameworkContrast</key>
	<string>gridProcessHead</string>
	<key>bufferNumberStyle</key>
	<string>materialAwayParam</string>
	<key>channelTierKind</key>
	<string>fragmentWithoutDecorator</string>
	<key>navigationFrameworkMode</key>
	<string>sizeProcessValidation</string>
</dict>
</plist>
