<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerByMediator</key>
	<string>queryViaNumber</string>
	<key>elasticChapterOrientation</key>
	<string>queryViaPattern</string>
	<key>specifyDecorationValidation</key>
	<string>reusableLayerDelay</string>
</dict>
</plist>
