<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioStrategyBound</key>
	<string>cosineBeyondParam</string>
	<key>certificateWorkVisible</key>
	<string>composableConvolutionKind</string>
	<key>currentTernaryPosition</key>
	<string>groupSystemAppearance</string>
	<key>draggableGrainOrigin</key>
	<string>dynamicStoreInteraction</string>
	<key>listviewSingletonCount</key>
	<string>mobxOutsideLevel</string>
	<key>rectVersusInterpreter</key>
	<string>concreteBitrateBottom</string>
	<key>scaleCompositeTag</key>
	<string>subpixelFlyweightDuration</string>
	<key>sizedboxVersusPhase</key>
	<string>capacitiesInsideLayer</string>
	<key>tabbarBridgeMode</key>
	<string>tensorAnimationName</string>
	<key>usecaseLikeStage</key>
	<string>animatedButtonMode</string>
</dict>
</plist>
