<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocInterpreterForce</key>
	<string>scaffoldScopeTension</string>
	<key>catalystExceptParameter</key>
	<string>scaleModeKind</string>
	<key>eagerChapterTransparency</key>
	<string>slashInParameter</string>
	<key>fragmentOutsideState</key>
	<string>intensityFacadeKind</string>
	<key>mediumModulusDepth</key>
	<string>parallelTopicFeedback</string>
	<key>optimizerStateTint</key>
	<string>cacheContainStage</string>
	<key>serviceStructureFlags</key>
	<string>directHandlerMargin</string>
</dict>
</plist>
