<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>multiInteractorForce</key>
	<string>gradientExceptScope</string>
	<key>numericalHeapTransparency</key>
	<string>layerExceptWork</string>
	<key>usedTaskAlignment</key>
	<string>paddingAmongAdapter</string>
</dict>
</plist>
