<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateOutsideInterpreter</key>
	<string>sizedboxLayerFlags</string>
	<key>delegateStyleDepth</key>
	<string>currentSliderSkewy</string>
	<key>exceptionTypeHead</key>
	<string>cupertinoProxyPressure</string>
	<key>hashVarSpacing</key>
	<string>statelessAsMemento</string>
	<key>immediateRectResponse</key>
	<string>pinchableCycleOpacity</string>
	<key>masterContextIndex</key>
	<string>requiredAwaitFrequency</string>
	<key>multiBufferShade</key>
	<string>sizeContainFacade</string>
	<key>navigatorShapeTransparency</key>
	<string>largeImageFlags</string>
	<key>stackVariableMomentum</key>
	<string>delegateAgainstMediator</string>
	<key>usageAsSystem</key>
	<string>captionPatternLocation</string>
</dict>
</plist>
