<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteCompleterInset</key>
	<string>priorResourceTransparency</string>
	<key>ignoredParticleMode</key>
	<string>repositoryWorkSpeed</string>
	<key>menuIncludeStage</key>
	<string>constSubscriptionForce</string>
	<key>sceneOrCycle</key>
	<string>checklistProcessContrast</string>
	<key>storyboardAdapterFlags</key>
	<string>storeFormOpacity</string>
</dict>
</plist>
