<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintNearProxy</key>
	<string>gramFormHue</string>
	<key>resultLevelFlags</key>
	<string>functionalSceneInteraction</string>
	<key>sampleCommandColor</key>
	<string>unsortedArithmeticSize</string>
	<key>serviceStateVisibility</key>
	<string>disparateTaskOrientation</string>
	<key>sophisticatedLabelTag</key>
	<string>alphaInsideForm</string>
	<key>synchronousHandlerLeft</key>
	<string>protectedEventResponse</string>
</dict>
</plist>
