<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesPrototypeTension</key>
	<string>constraintDecoratorHue</string>
	<key>convolutionStyleHue</key>
	<string>symmetricTransitionOpacity</string>
	<key>permanentPainterMode</key>
	<string>diffableFutureOpacity</string>
</dict>
</plist>
