<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAtForm</key>
	<string>playbackMethodStyle</string>
	<key>commandStylePressure</key>
	<string>operationParameterFlags</string>
	<key>descriptorAroundOperation</key>
	<string>heroContainStrategy</string>
	<key>hashInsideShape</key>
	<string>handlerStageBrightness</string>
	<key>iconSingletonType</key>
	<string>concreteRowFormat</string>
	<key>intuitiveActionMomentum</key>
	<string>beginnerTabbarBehavior</string>
	<key>iterativeCapacitiesCenter</key>
	<string>characterMethodStyle</string>
	<key>nativeActionValidation</key>
	<string>sharedFragmentTransparency</string>
	<key>navigationParameterVelocity</key>
	<string>sortedDecorationState</string>
	<key>utilEnvironmentTension</key>
	<string>stampTempleSpeed</string>
</dict>
</plist>
