<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalResolverOffset</key>
	<string>controllerBesideMemento</string>
	<key>intuitiveChapterFeedback</key>
	<string>completionEnvironmentOrientation</string>
	<key>isolateChainBrightness</key>
	<string>observerContextShape</string>
	<key>multiModalName</key>
	<string>tangentBeyondStage</string>
	<key>prevFactoryTag</key>
	<string>containerDuringPattern</string>
	<key>standaloneNavigatorAlignment</key>
	<string>progressbarOutsidePlatform</string>
</dict>
</plist>
