<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directAnimatedcontainerTransparency</key>
	<string>matrixUntilPattern</string>
	<key>disabledCollectionLocation</key>
	<string>symmetricGraphicType</string>
	<key>factoryTierOffset</key>
	<string>alignmentWithoutVar</string>
	<key>lossShapeEdge</key>
	<string>ephemeralBitrateShade</string>
	<key>resolverThanFlyweight</key>
	<string>toolByForm</string>
</dict>
</plist>
