<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardForMethod</key>
	<string>groupChainStyle</string>
	<key>channelsAroundInterpreter</key>
	<string>fusedPositionIndex</string>
	<key>decorationOutsideSystem</key>
	<string>agileProjectionOffset</string>
	<key>delegateCompositeDistance</key>
	<string>otherRepositoryPressure</string>
	<key>gestureVariableForce</key>
	<string>statelessOperationIndex</string>
	<key>groupCycleAlignment</key>
	<string>directlyTextSpeed</string>
	<key>sensorPerProxy</key>
	<string>utilAwayFacade</string>
</dict>
</plist>
