<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticScreenVisible</key>
	<string>layoutOrActivity</string>
	<key>denseEffectTop</key>
	<string>observerBridgeCount</string>
	<key>gramOfLevel</key>
	<string>presenterVarType</string>
	<key>protectedCompleterOffset</key>
	<string>marginAmongMemento</string>
	<key>webProgressbarTheme</key>
	<string>prismaticGridviewTheme</string>
</dict>
</plist>
