<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalAnimationVisible</key>
	<string>navigationMementoVisible</string>
	<key>cubitTypeFormat</key>
	<string>baseOperationPressure</string>
	<key>exceptionUntilParameter</key>
	<string>particleProxyFrequency</string>
	<key>futureLayerScale</key>
	<string>tabviewEnvironmentPadding</string>
	<key>globalHeroMomentum</key>
	<string>projectPrototypeOpacity</string>
	<key>interactiveCaptionIndex</key>
	<string>permanentRowAcceleration</string>
	<key>observerVisitorSkewy</key>
	<string>gemDespiteKind</string>
	<key>plateBridgeContrast</key>
	<string>arithmeticNavigationDistance</string>
	<key>secondModelContrast</key>
	<string>directlyTextShape</string>
</dict>
</plist>
