<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyOfFacade</key>
	<string>commonMobxTheme</string>
	<key>geometricRouterState</key>
	<string>discardedMarginEdge</string>
	<key>globalPopupTransparency</key>
	<string>requiredGrainOrientation</string>
	<key>greatServiceForce</key>
	<string>eventStrategyOrientation</string>
	<key>hyperbolicSkinCoord</key>
	<string>segueWithoutFacade</string>
	<key>methodForVar</key>
	<string>primaryContractionCoord</string>
	<key>standaloneStatefulPadding</key>
	<string>grainFacadeColor</string>
	<key>staticSliderFlags</key>
	<string>mobileTextScale</string>
	<key>titleProxyTag</key>
	<string>arithmeticSubpixelPressure</string>
	<key>toolFunctionRight</key>
	<string>immediateSizedboxSpacing</string>
</dict>
</plist>
