<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorPrototypeScale</key>
	<string>layerAdapterCoord</string>
	<key>compositionThanAdapter</key>
	<string>sinkAlongActivity</string>
	<key>deferredTextLeft</key>
	<string>geometricLayoutValidation</string>
	<key>dimensionExceptVar</key>
	<string>statelessOrCycle</string>
	<key>displayableCharacterState</key>
	<string>denseScaleSpacing</string>
	<key>materialBeyondInterpreter</key>
	<string>retainedCubitSpacing</string>
	<key>variantJobTheme</key>
	<string>interactorStateTop</string>
</dict>
</plist>
