<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocFrameworkStyle</key>
	<string>indicatorForBridge</string>
	<key>directlyTouchBrightness</key>
	<string>assetBeyondKind</string>
	<key>gridviewPatternState</key>
	<string>composableSubscriptionVelocity</string>
	<key>mobxAwayType</key>
	<string>mediumRectIndex</string>
	<key>notifierTempleSpeed</key>
	<string>grainStrategyStyle</string>
	<key>primaryFrameMargin</key>
	<string>capacitiesScopeOrientation</string>
	<key>promiseTierFrequency</key>
	<string>anchorActivityScale</string>
	<key>reusablePreviewDelay</key>
	<string>subsequentChartStyle</string>
	<key>staticTaskForce</key>
	<string>flexibleExtensionSaturation</string>
</dict>
</plist>
