<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxWithoutStructure</key>
	<string>animatedcontainerBufferSkewy</string>
	<key>crucialNodeSkewy</key>
	<string>interactiveChartInteraction</string>
	<key>cursorPlatformPressure</key>
	<string>arithmeticThreadForce</string>
	<key>delegateInTemple</key>
	<string>numericalOffsetPressure</string>
	<key>durationLikeDecorator</key>
	<string>ternaryOrMemento</string>
	<key>entityWithoutAdapter</key>
	<string>mobileBesideAdapter</string>
	<key>modalStyleSpacing</key>
	<string>queuePerType</string>
	<key>signMementoPressure</key>
	<string>characterBeyondWork</string>
	<key>subscriptionPatternTint</key>
	<string>requiredTableScale</string>
	<key>webSubpixelDirection</key>
	<string>sliderInsideTemple</string>
</dict>
</plist>
