<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitInTemple</key>
	<string>crudeConfigurationFrequency</string>
	<key>capsuleBesideTemple</key>
	<string>deferredUsecaseTheme</string>
	<key>interactorPerMode</key>
	<string>drawerValueTail</string>
	<key>modelDespiteAdapter</key>
	<string>alignmentBeyondFlyweight</string>
	<key>petTypeMomentum</key>
	<string>spriteDuringPhase</string>
	<key>providerCommandTint</key>
	<string>playbackThroughMode</string>
	<key>scrollAlongVariable</key>
	<string>previewWithInterpreter</string>
	<key>secondAssetEdge</key>
	<string>directNormAlignment</string>
	<key>subpixelOrInterpreter</key>
	<string>alphaVarLeft</string>
</dict>
</plist>
