<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedMethodCoord</key>
	<string>modelOutsideBuffer</string>
	<key>capsuleScopeCoord</key>
	<string>immutableManagerScale</string>
	<key>concurrentPositionEdge</key>
	<string>uniformResourceTransparency</string>
	<key>consultativeTextureFrequency</key>
	<string>musicCompositeAlignment</string>
	<key>disparateCurveColor</key>
	<string>signatureSinceVariable</string>
	<key>entropyAsComposite</key>
	<string>roleOfPhase</string>
	<key>mutableMultiplicationEdge</key>
	<string>sessionOfTemple</string>
	<key>sinkAtBuffer</key>
	<string>paddingVisitorLocation</string>
	<key>sliderStyleTension</key>
	<string>previewByShape</string>
</dict>
</plist>
