<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionDurationPadding</key>
	<string>webIntensityBound</string>
	<key>inactiveResultBrightness</key>
	<string>oldTextInteraction</string>
	<key>invisiblePresenterAppearance</key>
	<string>chartBeyondComposite</string>
	<key>largeServiceMomentum</key>
	<string>unaryWorkCount</string>
	<key>progressbarSystemContrast</key>
	<string>overlayAwayProxy</string>
	<key>swiftCompositeDistance</key>
	<string>checkboxAsKind</string>
</dict>
</plist>
