<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>geometricSubpixelCount</key>
	<string>pivotalInterpolationRight</string>
	<key>heapNearScope</key>
	<string>positionedInsideOperation</string>
	<key>nibInVar</key>
	<string>smallStateTheme</string>
	<key>roleActivityHead</key>
	<string>builderStyleAlignment</string>
	<key>tabviewThanNumber</key>
	<string>webInterpolationVelocity</string>
</dict>
</plist>
