<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyFromTask</key>
	<string>errorDecoratorIndex</string>
	<key>immediateDelegateName</key>
	<string>materialMusicPosition</string>
	<key>modulusUntilMediator</key>
	<string>builderOfTemple</string>
	<key>observerOrDecorator</key>
	<string>inheritedCallbackCoord</string>
	<key>overlayIncludeStrategy</key>
	<string>storeBridgeName</string>
	<key>sequentialNavigatorDirection</key>
	<string>providerStructureBottom</string>
	<key>tabviewDespiteVariable</key>
	<string>lastResourceAcceleration</string>
</dict>
</plist>
