<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterMementoBottom</key>
	<string>agileChapterLocation</string>
	<key>chartScopeOrientation</key>
	<string>constAspectDirection</string>
	<key>crucialSessionSpacing</key>
	<string>contractionInMediator</string>
	<key>fragmentWithoutMode</key>
	<string>lazyQueryHead</string>
	<key>inactiveAnimationOrientation</key>
	<string>resourcePerPhase</string>
	<key>layoutTaskRate</key>
	<string>baseFunctionDistance</string>
	<key>missedSymbolDirection</key>
	<string>futurePlatformSize</string>
	<key>modalByVariable</key>
	<string>symmetricNavigationColor</string>
	<key>textureFromContext</key>
	<string>pinchableMissionType</string>
</dict>
</plist>
