<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resizableProviderBorder</key>
	<string>repositoryScopeOffset</string>
	<key>sampleLikeLayer</key>
	<string>streamCompositeVisibility</string>
	<key>sinkWithAction</key>
	<string>nodeAboutVar</string>
</dict>
</plist>
