<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedResourceSpeed</key>
	<string>graphFlyweightInterval</string>
	<key>animationFromJob</key>
	<string>sizePrototypeShade</string>
	<key>consultativeSineStatus</key>
	<string>sampleFacadeDistance</string>
	<key>newestAlignmentBottom</key>
	<string>associatedMobxEdge</string>
	<key>providerVarRight</key>
	<string>containerAndShape</string>
	<key>synchronousCanvasFlags</key>
	<string>sceneMediatorHead</string>
	<key>timerCommandBottom</key>
	<string>mapStructureTransparency</string>
</dict>
</plist>
