<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystDespiteDecorator</key>
	<string>sineMediatorVisible</string>
	<key>gateInsideEnvironment</key>
	<string>scaffoldSinceStyle</string>
</dict>
</plist>
