<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianStorageOpacity</key>
	<string>mainExpandedType</string>
	<key>characterDespiteActivity</key>
	<string>checkboxFrameworkKind</string>
	<key>directIsolateOrientation</key>
	<string>constInstructionColor</string>
	<key>entityEnvironmentPressure</key>
	<string>methodAdapterStatus</string>
	<key>sinkPlatformTail</key>
	<string>transformerLevelTheme</string>
</dict>
</plist>
