<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationVariableBrightness</key>
	<string>symmetricObserverPadding</string>
	<key>equipmentAsAction</key>
	<string>consultativeStreamIndex</string>
	<key>mapKindForce</key>
	<string>modelAgainstAction</string>
	<key>publicModelVisibility</key>
	<string>channelCompositeBehavior</string>
	<key>repositoryThanDecorator</key>
	<string>sceneBridgeState</string>
	<key>scaleAsFlyweight</key>
	<string>singleBehaviorInteraction</string>
</dict>
</plist>
