<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectAtWork</key>
	<string>streamExceptLayer</string>
	<key>consumerNearFunction</key>
	<string>cycleByTask</string>
	<key>delicatePreviewBrightness</key>
	<string>topicWithoutAction</string>
	<key>groupWorkTheme</key>
	<string>asyncJobFlags</string>
	<key>notificationShapeColor</key>
	<string>independentRectMomentum</string>
	<key>routerAlongForm</key>
	<string>commandSinceObserver</string>
</dict>
</plist>
