<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessiblePositionPosition</key>
	<string>modulusDecoratorVisible</string>
	<key>gesturedetectorCommandTail</key>
	<string>mainParticleSpeed</string>
	<key>histogramPlatformSize</key>
	<string>comprehensiveInkwellRotation</string>
	<key>immediateReductionDensity</key>
	<string>grainAtComposite</string>
	<key>playbackProxyPressure</key>
	<string>firstPrecisionKind</string>
	<key>providerVersusOperation</key>
	<string>ephemeralTextTop</string>
	<key>rectAsTask</key>
	<string>customizedCoordinatorBrightness</string>
	<key>requestOrFlyweight</key>
	<string>batchFrameworkValidation</string>
	<key>sustainableConfigurationEdge</key>
	<string>statelessGroupTransparency</string>
	<key>viewForFramework</key>
	<string>canvasOfShape</string>
</dict>
</plist>
