<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationExceptSystem</key>
	<string>resolverTempleMomentum</string>
	<key>mobileAdapterName</key>
	<string>eagerConsumerLocation</string>
	<key>requiredGrayscaleEdge</key>
	<string>presenterVarName</string>
	<key>skirtFunctionSkewy</key>
	<string>buttonAlongValue</string>
	<key>usageInsideLayer</key>
	<string>eventMediatorRotation</string>
</dict>
</plist>
