<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAsFacade</key>
	<string>oldMasterStatus</string>
	<key>decorationChainTransparency</key>
	<string>titleCommandPressure</string>
	<key>dimensionActionPadding</key>
	<string>coordinatorKindSpacing</string>
	<key>inactiveSizeSpacing</key>
	<string>spriteAsAdapter</string>
	<key>mapForShape</key>
	<string>builderVisitorShape</string>
	<key>resultAtPlatform</key>
	<string>previewObserverCoord</string>
	<key>retainedTextDepth</key>
	<string>subsequentBitrateBrightness</string>
	<key>substantialQueryDepth</key>
	<string>gridInShape</string>
	<key>synchronousCubitSize</key>
	<string>techniqueAboutEnvironment</string>
	<key>textSystemOrigin</key>
	<string>metadataObserverStyle</string>
</dict>
</plist>
