<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionWithoutAction</key>
	<string>methodViaProxy</string>
	<key>compositionalCollectionTop</key>
	<string>popupVersusTemple</string>
	<key>particleByShape</key>
	<string>disparateAnimationMomentum</string>
	<key>providerStateColor</key>
	<string>buttonScopeCoord</string>
	<key>rowContextOffset</key>
	<string>consumerOutsideStyle</string>
</dict>
</plist>
