<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesTierHead</key>
	<string>inactiveBlocOpacity</string>
	<key>decorationAgainstVariable</key>
	<string>listviewOutsideStage</string>
	<key>graphicFrameworkVisibility</key>
	<string>gradientNearPrototype</string>
	<key>graphicWithAction</key>
	<string>reusableCollectionDirection</string>
	<key>matrixPlatformDensity</key>
	<string>graphFunctionDelay</string>
	<key>navigatorBeyondPlatform</key>
	<string>marginPerTask</string>
	<key>oldResourceSpacing</key>
	<string>interactorFlyweightIndex</string>
	<key>reducerSystemTint</key>
	<string>unactivatedIsolateTag</string>
	<key>statefulViaNumber</key>
	<string>documentBufferBehavior</string>
</dict>
</plist>
