<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeGridColor</key>
	<string>iconInsideState</string>
	<key>lossInterpreterSize</key>
	<string>subscriptionVariableIndex</string>
	<key>observerBeyondCommand</key>
	<string>accordionChecklistForce</string>
	<key>stackStageTop</key>
	<string>responsiveCapacitiesContrast</string>
</dict>
</plist>
