<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationIncludeChain</key>
	<string>mobileStatelessHead</string>
	<key>cartesianScaffoldDepth</key>
	<string>marginOfObserver</string>
	<key>collectionShapeCount</key>
	<string>publicDependencyEdge</string>
	<key>curveTempleIndex</key>
	<string>queueInValue</string>
	<key>firstMatrixEdge</key>
	<string>substantialTopicOrigin</string>
	<key>protectedUtilContrast</key>
	<string>draggableTitleDensity</string>
	<key>respectiveEffectMargin</key>
	<string>cubitBesideVariable</string>
	<key>respectiveSingletonMode</key>
	<string>inheritedErrorInteraction</string>
	<key>sizeUntilParameter</key>
	<string>dropdownbuttonLikeProcess</string>
</dict>
</plist>
