<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorStrategySkewy</key>
	<string>columnCompositeMode</string>
	<key>constraintWithoutCommand</key>
	<string>frameShapeShade</string>
	<key>containerLevelScale</key>
	<string>hashBufferVisibility</string>
	<key>inheritedBinaryPosition</key>
	<string>mediocreTaskDistance</string>
	<key>integerPrototypeSpeed</key>
	<string>gridLikeSingleton</string>
	<key>presenterCycleSpeed</key>
	<string>positionThanProcess</string>
	<key>robustMediaqueryTransparency</key>
	<string>retainedPopupOpacity</string>
	<key>standaloneProviderTheme</key>
	<string>permissiveCubitSpacing</string>
	<key>staticResolverDelay</key>
	<string>normWithoutMediator</string>
	<key>temporaryPreviewDelay</key>
	<string>concurrentSubscriptionShape</string>
</dict>
</plist>
