<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationChainShade</key>
	<string>normOrMode</string>
	<key>asynchronousIntensityAlignment</key>
	<string>curveOutsideStage</string>
	<key>custompaintDuringWork</key>
	<string>previewParamMode</string>
	<key>directlyCompositionCount</key>
	<string>sizeAtActivity</string>
	<key>groupChainLocation</key>
	<string>switchPatternInterval</string>
	<key>requestPrototypeFlags</key>
	<string>subpixelTierVelocity</string>
	<key>semanticsDespiteFramework</key>
	<string>documentViaMethod</string>
	<key>sessionOfParam</key>
	<string>newestAlphaMode</string>
	<key>synchronousSpriteColor</key>
	<string>anchorOfCommand</string>
	<key>timerPerKind</key>
	<string>widgetContextVisibility</string>
</dict>
</plist>
